@model RegistrVM
@{
    ViewData["Title"] = "Registr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


  <!--====== Breadcrumb Part Start ======-->

    <div class="breadcrumb-area">
        <div class="container-fluid custom-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Register</li>
                </ol>
            </nav>
        </div> <!-- container -->
    </div>

    <!--====== Breadcrumb Part Ends ======-->

    <!--====== Register Part Start ======-->

    <section class="register-area pt-10">
        <div class="container-fluid custom-container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-register-wrapper mt-30">
                        <h4 class="allup-title">Creat New Account</h4>
                        <p class="mt-10">Already have an account? <a href="login.html">Log in instead!</a></p>

                        <form method="post">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="single-form">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" type="text" placeholder="First Name">                               
                            </div>
                             <span asp-validation-for="FirstName"></span>
                            <div class="single-form">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" type="text" placeholder="Last Name">                                  
                            </div>
                            <span asp-validation-for="LastName"></span>
                            <div class="single-form">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" type="email" placeholder="Email Address">                                 
                            </div>
                             <span asp-validation-for="Email"></span>
                            <div class="single-form">
                                <label asp-for="UserName"></label>
                                <input asp-for="UserName" type="text" placeholder="Username">                                 
                            </div>
                             <span asp-validation-for="UserName"></span>
                            <div class="single-form">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" type="password" placeholder="Password">                                 
                            </div>
                             <span asp-validation-for="Password"></span>
                            <div class="single-form">
                                <label asp-for="RepeatPassword"></label>
                                <input asp-for="RepeatPassword" type="password" placeholder="Confirm Password">                                 
                            </div>    
                             <span asp-validation-for="RepeatPassword"></span>
                            <div class="single-form">
                                <button class="main-btn main-btn-2">Register</button>
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== Register Part Ends ======-->




