@model Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

  <div class="card card-light">
              <div class="card-header">
                <h3 class="card-title">Create New Product</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name ...">
                        <span  class="text-danger" asp-validation-for="Name"></span>
                      </div>
                    </div>
                  </div>     
                   <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="IsFeatured"></label><br />
                        <input  asp-for="IsFeatured">
                        <span  class="text-danger" asp-validation-for="IsFeatured"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="NewArrivle"></label><br />
                        <input  asp-for="NewArrivle">
                        <span  class="text-danger" asp-validation-for="NewArrivle"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="BestSeller"></label><br />
                        <input  asp-for="BestSeller">
                        <span  class="text-danger" asp-validation-for="BestSeller"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="StockCount"></label><br />
                        <input  asp-for="StockCount">
                        <span  class="text-danger" asp-validation-for="StockCount"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="Price"></label><br />
                        <input  asp-for="Price">
                        <span  class="text-danger" asp-validation-for="Price"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="DisCountPrice"></label><br />
                        <input  asp-for="DisCountPrice">
                        <span  class="text-danger" asp-validation-for="DisCountPrice"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="TaxPrecent"></label><br />
                        <input  asp-for="TaxPrecent">
                        <span  class="text-danger" asp-validation-for="TaxPrecent"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="Title"></label><br />
                        <input  asp-for="Title">
                        <span  class="text-danger" asp-validation-for="Title"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="Desc"></label><br />
                        <input  asp-for="Desc">
                        <span  class="text-danger" asp-validation-for="Desc"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="CategoryId">Category Select</label>
                       
                        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="custom-select">
                            <option selected>Open this category menu</option>
                        </select>
                        <span  class="text-danger" asp-validation-for="CategoryId"></span>
                      </div>
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="BrandId">Brand Select</label>                       
                        <select asp-for="BrandId" asp-items="@ViewBag.Brands" class="custom-select">
                            <option selected>Open this brand menu</option>
                        </select>
                        <span  class="text-danger" asp-validation-for="BrandId"></span>
                      </div>
                    </div>
                  </div>                 
                
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="TagPId">Tag Select</label>                       
                        <select multiple asp-for="TagPId" asp-items="@ViewBag.Tag" class="custom-select">
                            <option selected>Open this brand menu</option>
                        </select>
                        <span  class="text-danger" asp-validation-for="TagPId"></span>
                      </div>
                    </div>
                  </div>                 

                  <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label asp-for="Image"></label><br />
                        <input multiple asp-for="Image">
                        <span class="text-danger" asp-validation-for="Image"></span>
                      </div>
                    </div>
                  </div>
                 <button type="submit" class="btn btn-success">Submit</button> 
                 <a asp-controller="product" asp-action="index" class="btn btn-danger">Cancel</a>
                </form>

                 <a class="btn btn-dark" asp-action="index"> Go Back</a>
                 <button type="submit">ok</button>
              </div>
              <!-- /.card-body -->
            </div>

<script src="~/admin/plugins/jquery/jquery.min.js"></script>

@section Scripts{
<script src="~/admin/dist/js/main.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
<!-- Jquery Validation cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<!-- Asp Jquery Validation cdn-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
 <script>
 ClassicEditor
       .create( document.querySelector( '#Description' ) )
       .then( editor => {
       console.log( editor );
       } )
      .catch( error => {
       console.error( error );
       } );
 </script>
}







