@model Order
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";

     double total = 0;
    double shippingPrice = 0;
    double finalPrice = 0;
    double tax = 0;
    foreach (var item in ViewBag.Products)
    {
        total += item.ProductCount * item.Price;
        if (total / 100 < 3)
        {
            shippingPrice = 3;
        }
        else
        {
            shippingPrice = total / 100;
        }
        tax = total / 20;
        finalPrice = total + shippingPrice + tax;
    }
}

 <!--====== Breadcrumb Part Start ======-->

    <div class="breadcrumb-area">
        <div class="container-fluid custom-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ol>
            </nav>
        </div> <!-- container -->
    </div>

    <!--====== Breadcrumb Part Ends ======-->

    <!--====== Checkout Part Start ======-->

    <section class="checkout-area pt-10">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="checkout-form">
                        <form method="post">
                            <div class="billing-address mt-30">
                                <h4 class="allup-title">Billing Address</h4>
                                <div class="row">
                                  <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="FirstName">First Name*</label>
                                            <input asp-for="FirstName" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="LastName">Last  Name*</label>
                                            <input asp-for="LastName" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="Email">Email Address*</label>
                                            <input asp-for="Email" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="Phone">Phone no*</label>
                                            <input asp-for="Phone" placeholder="Phone no">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-form">
                                            <label asp-for="Company">Company Name</label>
                                            <input asp-for="Company" placeholder="Company Name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-form">
                                            <label asp-for="Address">Address</label>
                                            <input asp-for="Address" placeholder="Address Line 1">                                           
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="Country">Country</label>
                                            <select asp-for="Country">                                             
                                                <option value="">Azerbaijan</option>
                                                <option value="">Turkiye</option>
                                                <option value="">Israil</option>
                                                <option value="">Pakistan</option>
                                                <option value="">Rusiya</option>
                                                <option value="">ABS</option>
                                                <option value="">Norvec</option>
                                            </select>
                                          @*  <select>
                                                <option value="">Ordubad</option>
                                                <option value="">Naxcivan</option>
                                                <option value="">Baki</option>
                                                <option value="">Sumqayit</option>
                                                <option value="">Salyan</option>
                                                <option value="">Kurdemir</option>
                                                <option value="">Gedebey</option>
                                                <option value="">Gence</option>
                                                <option value="">Quba</option>
                                                <option value="">Lenkeran</option>
                                            </select>*@
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="City">Town/City*</label>
                                            <input asp-for="City" placeholder="Town/City">
                                        </div>
                                    </div>                                   
                                     <div class="col-md-6">
                                        <div class="single-form">
                                            <label asp-for="ZipCode">Zip Code*</label>
                                            <input asp-for="ZipCode" placeholder="Zip Code">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout-checkbox">
                                <ul>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="account">
                                            <label for="account"></label>
                                            <p>Create an Account? </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="address" data-shipping>
                                            <label for="address"></label>
                                            <p>Ship to Different Address </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="shipping-address" class="shipping-address mt-30">
                                <h4 class="allup-title">Shipping Address</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label>First Name*</label>
                                            <input type="text" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label>Last  Name*</label>
                                            <input type="text" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label>Email Address*</label>
                                            <input type="text" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label>Phone no*</label>
                                            <input type="text" placeholder="Phone no">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-form">
                                            <label>Company Name</label>
                                            <input type="text" placeholder="Company Name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-form">
                                            <label>Address</label>
                                            <input type="text" placeholder="Address Line 1">
                                            <input type="text" placeholder="Address Line 2">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label>Country</label>
                                            <select>
                                               <option value="">Azerbaijan</option>
                                                <option value="">Turkiye</option>
                                                <option value="">Israil</option>
                                                <option value="">Pakistan</option>
                                                <option value="">Rusiya</option>
                                                <option value="">ABS</option>
                                                <option value="">Norvec</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label>Town/City*</label>
                                            <input type="text" placeholder="Town/City">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label>State*</label>
                                            <input type="text" placeholder="State">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-form">
                                            <label>Zip Code*</label>
                                            <input type="text" placeholder="Zip Code">
                                        </div>
                                    </div>
                                </div>
                            </div>
                              <div class="checkout-btn">
                             <button asp-action="order"style="right: 200px; position: absolute" type="submit" class="btn btn-success">Place Order</button>
                             </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="checkout-total-wrapper mt-30">
                        <h4 class="allup-title">Cart Total</h4>
                        <div class="checkout-total mt-30">
                            <h4 class="title">Product  <span>Total</span></h4>
                            <ul>
                               @foreach (var prod in ViewBag.Products)
                               {
                                <li>
                                    <p class="total-value">@prod.Name X @prod.ProductCount</p>
                                    <p class="total-amount">€@(prod.ProductCount*prod.Price)</p>
                                </li>
                              }
                            </ul>
                            <div class="checkout-total-sub">
                                <p class="total-value">Sub Total</p>
                                <p class="total-amount">€@total</p>
                            </div>
                            <div class="checkout-total-sub">
                                <p class="total-value">Shipping Fee </p>
                                <p  class="total-amount">€<span id="shippingFee">@shippingPrice</span></p>
                            </div>
                            <h4 class="title mt-15">Product
                                <span>€@finalPrice</span>
                             </h4>
                        </div>
                    </div>

                    <div class="checkout-payment-wrapper mt-30">
                        <h4 class="allup-title">Payment Method</h4>
                        <div class="checkout-payment mt-30">
                            <ul>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio">
                                            <input type="radio" name="radio" id="check" checked="checked">
                                            <label for="check"><span></span> Check Payment</label>

                                            <div class="payment-details">
                                                <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio">
                                            <input type="radio" name="radio" id="bank">
                                            <label for="bank"><span></span> Direct Bank Transfer</label>

                                            <div class="payment-details">
                                                <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>
                                        </div>                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio">
                                            <input type="radio" name="radio" id="cash">
                                            <label for="cash"><span></span> Cash on Delivery</label>

                                            <div class="payment-details" >
                                                <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>
                                        </div>                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio">
                                            <input type="radio" name="radio" id="paypal">
                                            <label for="paypal"><span></span> Paypal</label>

                                            <div class="payment-details" >
                                                <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>
                                        </div>                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio">
                                            <input type="radio" name="radio" id="payoneer">
                                            <label for="payoneer"><span></span> Payoneer</label>

                                            <div class="payment-details" >
                                                <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                            </div>
                                        </div>                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="accept">
                                        <label for="accept"></label>
                                        <p>I’ve read and accept the terms & conditions</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>                    
                  
                </div>
            </div>
        </div>
    </section>

  

